<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.recycleview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSMusic">
        <activity android:name="id.ac.umn.recycleview.PlayerActivity"></activity>
        <activity android:name="id.ac.umn.recycleview.Music" />
        <activity android:name="id.ac.umn.recycleview.Login" />
        <activity android:name="id.ac.umn.recycleview.Profile" />
        <activity android:name="id.ac.umn.recycleview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>